---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { Spa } from "astro-spa";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { image = '/social_img.png', title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;

// import * as Sentry from "@sentry/node"

// Sentry.init({
//   dsn: "__DSN__",
//   tracesSampleRate: 1
// })

// try {
//   throw new Error("Internal server error")
// }
// catch(error) {
//   Sentry.captureException(error)
// }
---

<!DOCTYPE html>
<html lang="en" data-theme="emerald">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <!-- <script type="text/partytown">
    import * as Sentry from "@sentry/browser"

    Sentry.init({
      dsn: "___DSN__",
      integrations: [new Sentry.BrowserTracing()],
      tracesSampleRate: 1
    })
    </script> -->
  </head>
  <body>
    <Spa />
    <div class="bg-base-100 drawer drawer-mobile">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 max-w-[900px]">
            <slot />
          </main>
        </div>
        <Footer />
        <button onclick="throw new Error('Test Error')">Throw Error</button>
      </div>
      <SideBar />
    </div>
  </body>
</html>
